// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	model = "Qualcomm Technologies, Inc. Lemans EVK LVDS";

	panel_lvds: panel-lvds {
		compatible = "boe,dv215fhm-r01";
		power-supply = <&lcd_disp_bias>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				dual-lvds-odd-pixels;

				panel_in_lvds_odd: endpoint {
					remote-endpoint = <&lt9211c_out_odd>;
				};
			};

			port@1 {
				reg = <1>;
				dual-lvds-even-pixels;

				panel_in_lvds_even: endpoint {
					remote-endpoint = <&lt9211c_out_even>;
				};
			};
		};
	};

	lcd_disp_bias: regulator-lcd-disp-bias {
		compatible = "regulator-fixed";
		regulator-name = "lcd_disp_bias";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
		gpio = <&expander3 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&qup_i2c1_default>;

	status = "okay";

	lt9211c_codec: lvds-bridge@2d {
		compatible = "lontium,lt9211c";
		reg = <0x2d>;
		reset-gpios = <&tlmm 37 GPIO_ACTIVE_HIGH>;
		vccio-supply = <&vreg_s4a>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lt9211c_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mdss0_dsi0_out>;
				};
			};

			port@2 {
				reg = <2>;

				lt9211c_out_odd: endpoint {
					remote-endpoint = <&panel_in_lvds_odd>;
				};
			};

			port@3 {
				reg = <3>;

				lt9211c_out_even: endpoint {
					remote-endpoint = <&panel_in_lvds_even>;
				};
			};
		};
	};
};

&mdss0_dsi0 {
	vdda-supply = <&vreg_l1c>;

	status = "okay";
};

&mdss0_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&lt9211c_in>;
};

&mdss0_dsi0_phy {
	vdds-supply = <&vreg_l4a>;

	status = "okay";
};
