// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	display_bl: backlight {
		compatible = "pwm-backlight";
		power-supply = <&reg_dsi_touch>;
		pwms = <&reg_backlight 0 255 0>;
	};

	reg_dsi_touch: regulator-touch {
		compatible = "regulator-fixed";
		regulator-name = "rpi-dsi-touch";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&expander3 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
};

&i2c1 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;

	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	reg_backlight: reg_backlight@45 {
		compatible = "raspberrypi,touchscreen-panel-regulator-v2";
		reg = <0x45>;

		vcc-supply = <&reg_dsi_touch>;
		gpio-controller;
		#gpio-cells = <2>;
		#pwm-cells = <3>;
	};
};

&mdss0_dsi0 {
	vdda-supply = <&vreg_l1c>;

	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "raspberrypi,dsi-7inch";
		reg = <0>;

		reset-gpios = <&reg_backlight 0 GPIO_ACTIVE_LOW>;
		power-supply = <&reg_dsi_touch>;
		iovcc-supply = <&reg_dsi_touch>;
		backlight = <&display_bl>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss0_dsi0_out>;
			};
		};
	};
};

&mdss0_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1>;
};

&mdss0_dsi0_phy {
	vdds-supply = <&vreg_l4a>;

	status = "okay";
};
