// SPDX-License-Identifier: BSD-3-Clause
/*
 * Google Herobrine dts fragment for WIFI SKUs
 *
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/* WIFI SKUs save 256M by not having modem/mba/rmtfs memory regions defined. */

/delete-node/ &mdmss0_pa_cooling_map;
/delete-node/ &mdmss0_modem_cooling_map;
/delete-node/ &mdmss1_pa_cooling_map;
/delete-node/ &mdmss1_modem_cooling_map;
/delete-node/ &mdmss2_pa_cooling_map;
/delete-node/ &mdmss2_modem_cooling_map;
/delete-node/ &mdmss3_pa_cooling_map;
/delete-node/ &mdmss3_modem_cooling_map;

/delete-node/ &mpss_mem;
/delete-node/ &remoteproc_mpss;
/delete-node/ &rmtfs_mem;
