// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/ {
	aliases {
		i2c3 = &i2c3;
	};

	vreg_0p9: regulator-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "VREG_0P9";

		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vreg_1p8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VREG_1P8";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "qcom/shikra/a704_zap.mbn";
};

&i2c3 {
	status = "okay";

	expander0: pca953x@38 {
		compatible = "ti,tca9538";
		reg = <0x38>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander1: pca953x@3c {
		compatible = "ti,tca9538";
		reg = <0x3c>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander2: pca953x@20 {
		compatible = "ti,tca9539";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander3: pca953x@21 {
		compatible = "ti,tca9539";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&iris {
	firmware-name = "qcom/vpu/ar50lt_p1_gen2_s6.mbn";

	status = "okay";
};

&pcie {
	wake-gpios = <&tlmm 119 GPIO_ACTIVE_LOW>;

	iommu-map = <0x0 &apps_smmu 0x0800 0x1>,
		    <0x100 &apps_smmu 0x0801 0x1>,
		    <0x208 &apps_smmu 0x0802 0x1>,
		    <0x210 &apps_smmu 0x0803 0x1>,
		    <0x218 &apps_smmu 0x0804 0x1>,
		    <0x300 &apps_smmu 0x0805 0x1>,
		    <0x400 &apps_smmu 0x0806 0x1>,
		    <0x500 &apps_smmu 0x0807 0x1>,
		    <0x501 &apps_smmu 0x0808 0x1>;

	pinctrl-0 = <&pcie_default_state>;
	pinctrl-names = "default";

	status = "okay";
};

&pcie_port0 {

	tc9563: pcie@0,0 {
		compatible = "pci1179,0623";
		reg = <0x10000 0x0 0x0 0x0 0x0>;
		#address-cells = <3>;
		#size-cells = <2>;
		#gpio-cells = <2>;
		gpio-controller;

		device_type = "pci";
		ranges;
		bus-range = <0x2 0xff>;

		vddc-supply = <&vreg_0p9>;
		vdd18-supply = <&vreg_1p8>;
		vdd09-supply = <&vreg_0p9>;
		vddio1-supply = <&vreg_1p8>;
		vddio2-supply = <&vreg_1p8>;
		vddio18-supply = <&vreg_1p8>;

		i2c-parent = <&i2c3 0x77>;

		resx-gpios = <&tlmm 118 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&tc9563_resx_n>;
		pinctrl-names = "default";

		pcie@1,0 {
			reg = <0x20800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;

			device_type = "pci";
			ranges;
			bus-range = <0x3 0xff>;

			ep-pwr-en-gpios = <&tc9563 2 GPIO_ACTIVE_HIGH>;
			reset-gpios = <&tc9563 5 GPIO_ACTIVE_LOW>;
		};

		pcie@2,0 {
			reg = <0x21000 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;

			device_type = "pci";
			ranges;
			bus-range = <0x4 0xff>;

			ep-pwr-en-gpios = <&tc9563 4 GPIO_ACTIVE_HIGH>;
			reset-gpios = <&tc9563 3 GPIO_ACTIVE_LOW>;
		};

		pcie@3,0 {
			reg = <0x21800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x5 0xff>;

			pci@0,0 {
				reg = <0x50000 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};

			pci@0,1 {
				reg = <0x50100 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};
		};
	};
};

&psci {
	reboot-mode {
		mode-bootloader = <0x10001 0x2>;
		mode-edl = <0 0x1>;
	};
};

&qupv3_0 {
	firmware-name = "qcom/shikra/qupv3fw.elf";

	status = "okay";
};

&sdhc_2 {
	pinctrl-0 = <&sdc2_default &sdc2_card_det_n>;
	pinctrl-1 = <&sdc2_sleep &sdc2_card_det_n>;
	pinctrl-names = "default", "sleep";

	no-sdio;
	no-mmc;

	cd-gpios = <&tlmm 89 GPIO_ACTIVE_LOW>;
};

&tlmm {
	pcie_default_state:pcie-default-state{
		clkreq-pins{
			pins="gpio117";
			function="pcie0_clk_req_n";
			drive-strength=<2>;
			bias-pull-up;
		};

		wake-pins{
			pins="gpio119";
			function="gpio";
			drive-strength=<2>;
			bias-pull-up;
		};
	};

	tc9563_resx_n: tc9563-resx-state {
		pins = "gpio118";
		function = "gpio";
		bias-disable;
	};
};

&uart0 {
	status = "okay";
};

&usb_1 {
	dr_mode = "peripheral";

	status = "okay";
};

&usb_2 {
	dr_mode = "peripheral";

	status = "okay";
};
