// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&pm8150_gpios 1 GPIO_ACTIVE_HIGH>;
		default-on;
	};

	panel-lvds {
		compatible = "auo,g133han01";
		power-supply = <&vreg_lvds_3p3>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				dual-lvds-odd-pixels;

				lvds_panel_out_a: endpoint {
					remote-endpoint = <&sn65dsi84_out_a>;
				};
			};

			port@1 {
				reg = <1>;
				dual-lvds-even-pixels;

				lvds_panel_out_b: endpoint {
					remote-endpoint = <&sn65dsi84_out_b>;
				};
			};
		};
	};

	vreg_bridge_1p8: regulator-bridge-1p8 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_bridge_1p8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
        };

	vreg_lvds_3p3: regulator-lvds-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_lvds_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&hdmi_connector {
	status = "disabled";
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	sn65dsi84: bridge@2c {
		compatible = "ti,sn65dsi84";
		reg = <0x2c>;
		enable-gpios = <&tlmm 76 GPIO_ACTIVE_HIGH>;
		interrupts-extended = <&tlmm 85 IRQ_TYPE_EDGE_FALLING>;
		vcc-supply = <&vreg_bridge_1p8>;

		pinctrl-0 = <&bridge_irq_pin &bridge_rst_pin>;
		pinctrl-names = "default";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				sn65dsi84_in: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@2 {
				reg = <2>;

				sn65dsi84_out_a: endpoint {
					remote-endpoint = <&lvds_panel_out_a>;
				};
			};

			port@3 {
				reg = <3>;

				sn65dsi84_out_b: endpoint {
					remote-endpoint = <&lvds_panel_out_b>;
				};
			};
		};
	};
};

&lt9611uxd {
	status = "disabled";
};

&mdss_dsi0_out {
	remote-endpoint = <&sn65dsi84_in>;
};
