// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

&{/} {
	model = "Qualcomm Technologies, Inc. Shikra IQS EVK DLC Panel";
};

&hdmi_connector {
	status = "disabled";
};

&lt9611uxd {
	status = "disabled";
};

&mdss_dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "dlc,dlc0697";
		reg = <0>;

		reset-gpios = <&tlmm 3 GPIO_ACTIVE_LOW>;

		vddi-supply = <&pm8150_l15>;
		avdd-supply = <&vreg_disp_3p3>;
		avee-supply = <&vreg_disp_3p3>;

		pinctrl-0 = <&panel_rst_n &panel_te_pin &panel_bl_en>;
		pinctrl-1 = <&panel_rst_n_suspend &panel_bl_en_suspend>;
		pinctrl-names = "default", "sleep";

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
};

&pm8150_gpios {
	panel_bl_en: panel-bl-en-state {
		pins = "gpio1";
		function = PMIC_GPIO_FUNC_NORMAL;
		bias-pull-up;
	};

	panel_bl_en_suspend: panel-bl-en-suspend-state {
		pins = "gpio1";
		function = PMIC_GPIO_FUNC_NORMAL;
		bias-pull-down;
	};
};

&tlmm {
	panel_rst_n: panel-rst-n-state {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	panel_rst_n_suspend: panel-rst-n-suspend-state {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	panel_te_pin: panel-te-pin-state {
		pins = "gpio86";
		function = "mdp_vsync_p";
		drive-strength = <2>;
		bias-pull-down;
	};
};
