// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "shikra-iqs-som.dtsi"
#include "shikra-evk.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Qualcomm Technologies, Inc. Shikra IQS EVK";
	compatible = "qcom,shikra-iqs-evk", "qcom,shikra-iqs-som", "qcom,shikra";
	chassis-type = "embedded";

	aliases {
		mmc0 = &sdhc_1;
		mmc1 = &sdhc_2; /* SDC2 SD card slot */
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi_connector: hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&lt9611_out>;
			};
		};
	};

	rgmii_phy0_supply: regulator-rgmii-phy0 {
		compatible = "regulator-fixed";
		regulator-name = "rgmii-phy0-pwr";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		gpio = <&tlmm 66 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-0 = <&rgmii_phy0_pwr_default>;
		pinctrl-names = "default";
	};

	rgmii_phy1_supply: regulator-rgmii-phy1 {
		compatible = "regulator-fixed";
		regulator-name = "rgmii-phy1-pwr";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		gpio = <&tlmm 53 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-0 = <&rgmii_phy1_pwr_default>;
		pinctrl-names = "default";
	};

	sound {
		compatible = "qcom,shikra-iqs-sndcard";
		model = "shikra-iqs-evk";

		pinctrl-0 = <&i2s0_default>, <&ext_mclk2_active>;
		pinctrl-names = "default";

		audio-routing = "IN34", "Headset Mic",
				"Headset Mic", "MICBIAS",
				"DMICL", "Int Mic",
				"Int Mic", "MICBIAS",
				"Headphone", "HPL",
				"Headphone", "HPR",
				"Speaker", "SPKL",
				"Speaker", "SPKR",
				"VA DMIC0", "vdd-micb",
				"VA DMIC1", "vdd-micb",
				"VA DMIC2", "vdd-micb",
				"VA DMIC3", "vdd-micb";

		pri-i2s-playback-dai-link {
			link-name = "Analog Playback";

			codec {
				sound-dai = <&max98091>;
			};

			cpu {
				sound-dai = <&q6apmbedai PRIMARY_MI2S_RX>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		pri-i2s-capture-dai-link {
			link-name = "Analog Capture";

			codec {
				sound-dai = <&max98091>;
			};

			cpu {
				sound-dai = <&q6apmbedai PRIMARY_MI2S_TX>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		va-dmic-dai-link {
			link-name = "VA DMIC Capture";

			codec {
				sound-dai = <&vamacro 0>;
			};

			cpu {
				sound-dai = <&q6apmbedai VA_CODEC_DMA_TX_0>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};
	};

	vreg_disp_3p3: regulator-disp-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_disp_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pm8150_gpios 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-0 = <&lcd_bias_en>;
		pinctrl-names = "default";
	};
};

&ethernet0 {
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";

	pinctrl-0 = <&ethernet0_default>;
	pinctrl-names = "default";

	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		rgmii_phy0: ethernet-phy@7 {
			compatible = "ethernet-phy-id2000.a231";
			reg = <0x7>;
			reset-gpios = <&tlmm 135 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <50000>;
			vdda-2p5-supply = <&rgmii_phy0_supply>;
		};
	};
};

&ethernet1 {
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";

	pinctrl-0 = <&ethernet1_default>;
	pinctrl-names = "default";

	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		rgmii_phy1: ethernet-phy@7 {
			compatible = "ethernet-phy-id2000.a231";
			reg = <0x7>;
			reset-gpios = <&tlmm 151 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <50000>;
			vdda-2p5-supply = <&rgmii_phy1_supply>;
		};
	};
};

&i2c3 {
	status = "okay";

	max98091: audio-codec@10 {
		compatible = "maxim,max98091";
		reg = <0x10>;

		pinctrl-0 = <&max98091_default>;
		pinctrl-names = "default";

		interrupts-extended = <&tlmm 28 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&q6prmcc LPASS_CLK_ID_MCLK_2 LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "mclk";
		assigned-clocks = <&q6prmcc LPASS_CLK_ID_MCLK_2 LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		assigned-clock-rates = <12288000>;
		#sound-dai-cells = <0>;
	};
};

&i2c4 {
	status = "okay";

	lt9611uxd: lt9611uxd@41 {
		compatible = "lontium,lt9611uxd";
		reg = <0x41>;
		interrupts-extended = <&tlmm 85 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 76 GPIO_ACTIVE_LOW>;
		vcc-supply = <&vreg_disp_3p3>;
		vdd-supply = <&pm8150_s4>;

		pinctrl-0 = <&bridge_irq_pin &bridge_rst_pin>;
		pinctrl-names = "default";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lt9611_a: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};

			port@2 {
				reg = <2>;

				lt9611_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&mdss {
	status = "okay";
};

&mdss_dsi0 {
	vdda-supply = <&pm8150_l11>;

	status = "okay";
};

&mdss_dsi0_out {
	remote-endpoint = <&lt9611_a>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	status = "okay";
};

&pcie_phy {
	vdda-phy-supply = <&pm8150_l12>;
	vdda-pll-supply = <&pm8150_l9>;

	status = "okay";
};

&i2c3 {
	status = "okay";

	typec@40 {
		compatible = "cypress,cypd6229", "cypress,cypd6129";
		reg = <0x40>;
		interrupts-extended = <&tlmm 50 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&usb0_intr_state>;
		pinctrl-names = "default";
		wakeup-source;

		#address-cells = <1>;
		#size-cells = <0>;

		ccg_typec_con0: connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			label = "USB2-Type-C";
			data-role = "dual";
			power-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					ucsi_ccg_port0_hs: endpoint {
						remote-endpoint = <&usb_2_dwc3_hs>;
					};
				};
			};
		};

		ccg_typec_con1: connector@1 {
			compatible = "usb-c-connector";
			reg = <1>;
			label = "USB3-Type-C";
			data-role = "dual";
			power-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					ucsi_ccg_port_1_hs: endpoint {
						remote-endpoint = <&usb_1_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;

					ucsi_ccg_port_1_ss: endpoint {
						remote-endpoint = <&usb_qmpphy_out>;
					};
				};
			};
		};
	};
};

&pm8150_gpios {
	lcd_bias_en: lcd-bias-en-state {
		pins = "gpio4";
		function = PMIC_GPIO_FUNC_NORMAL;
		bias-disable;
	};
};

&pm8150_l11 {
	regulator-min-microvolt = <1232000>;
	regulator-max-microvolt = <1232000>;
	regulator-allow-set-load;
};

&q6apmbedai {
	#address-cells = <1>;
	#size-cells = <0>;

	dai@16 {
		reg = <PRIMARY_MI2S_RX>;
		clocks = <&q6prmcc LPASS_CLK_ID_QAIF_IF0_IBIT LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "bclk";
	};
};

&remoteproc_cdsp {
	firmware-name = "qcom/shikra/cdsp.mbn";

	status = "okay";
};

&remoteproc_lpaicp {
	firmware-name = "qcom/shikra/lpaicp.mbn",
			"qcom/shikra/lpaicp_dtb.mbn";

	status = "okay";
};

&remoteproc_mpss {
	firmware-name = "qcom/shikra/cqs/qdsp6sw.mbn";

	status = "okay";
};

&sdhc_1 {
	vmmc-supply = <&pm8150_l17>;
	vqmmc-supply = <&pm8150_s4>;

	pinctrl-0 = <&sdc1_state_on>;
	pinctrl-1 = <&sdc1_state_off>;
	pinctrl-names = "default", "sleep";

	non-removable;
	supports-cqe;
	no-sdio;
	no-sd;

	status = "okay";
};

&sdhc_2 {
	vmmc-supply = <&pm8150_l10>;
	vqmmc-supply = <&pm8150_l2>;

	status = "okay";
};

&tlmm {
	bridge_irq_pin: bridge-irq-state {
		pins = "gpio85";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	bridge_rst_pin: bridge-rst-state {
		pins = "gpio76";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	dmic_eldo_en_default: dmic-eldo-default-active-state {
		pins = "gpio71";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	ext_mclk2_active: ext-mclk2-state {
		pins = "gpio110";
		function = "ext_mclk";
		drive-strength = <8>;
		bias-disable;
	};

	i2s0_default: i2s0-default-active-state {
		pins = "gpio105", "gpio106", "gpio107", "gpio108", "gpio109";
		function = "i2s0";
		drive-strength = <8>;
		bias-disable;
	};

	max98091_default: max98091-default-state {
		pins = "gpio28";
		function = "gpio";
		bias-pull-up;
	};

	rgmii_phy0_pwr_default: rgmii-phy0-pwr-default-state {
		pins = "gpio66";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};

	rgmii_phy1_pwr_default: rgmii-phy1-pwr-default-state {
		pins = "gpio53";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};

	usb0_intr_state: usb0-intr-state {
		pins = "gpio50";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};
};

&usb_1 {
	status = "okay";
};

&usb_1_dwc3_hs {
	remote-endpoint = <&ucsi_ccg_port_1_hs>;
};

&usb_1_hsphy {
	vdd-supply = <&pm8150_l4>;
	vdda-pll-supply = <&pm8150_l12>;
	vdda-phy-dpdm-supply = <&pm8150_l13>;

	status = "okay";
};

&usb_qmpphy {
	vdda-phy-supply = <&pm8150_l6>;
	vdda-pll-supply = <&pm8150_l12>;

	status = "okay";
};

&usb_qmpphy_out {
	remote-endpoint = <&ucsi_ccg_port_1_ss>;
};

&usb_2 {
	status = "okay";

	port {
		usb_2_dwc3_hs: endpoint {
			remote-endpoint = <&ucsi_ccg_port0_hs>;
		};
	};
};

&usb_2_hsphy {
	vdd-supply = <&pm8150_l4>;
	vdda-pll-supply = <&pm8150_l12>;
	vdda-phy-dpdm-supply = <&pm8150_l13>;

	status = "okay";
};

&vamacro {
	clocks = <&q6prmcc LPASS_CLK_ID_TX_CORE_MCLK LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
		 <&q6prmcc LPASS_CLK_ID_TX_CORE_NPL_MCLK LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
	clock-names = "mclk",
		      "npl";

	pinctrl-0 = <&dmic01_default>, <&dmic23_default>, <&dmic_eldo_en_default>;
	pinctrl-names = "default";

	qcom,dmic-sample-rate = <4800000>;

	status = "okay";
};
