// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;

#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include "talos-lyra-evk-som.dtsi"

/ {
	model = "Qualcomm QCS615 Talos Lyra EVK";
	compatible = "qcom,talos-lyra-evk", "qcom,talos-lyra-evk-som", "qcom,qcs615",
		     "qcom,sm6150";
	chassis-type = "embedded";

	aliases {
		serial1 = &uart7;
	};

	dp0-connector {
		compatible = "dp-connector";
		label = "DP0";
		type = "full-size";

		hpd-gpios = <&tlmm 104 GPIO_ACTIVE_HIGH>;

		port {
			dp0_connector_in: endpoint {
				remote-endpoint = <&mdss_dp0_out>;
			};
		};
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&lt9611_out>;
			};
		};
	};

	vreg_lt9611_vcc: regulator-lt9611-vcc {
		compatible = "regulator-fixed";
		regulator-name = "lt9611_vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&tlmm 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-0 = <&lt9611_vcc_pin>;
		pinctrl-names = "default";
	};

	vreg_keye_3p3: regulator-keye-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_keye_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&expander3 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
	};

	wifi-bt-connector {
		compatible = "pcie-m2-e-connector";
		vpcie3v3-supply = <&vreg_keye_3p3>;

		w-disable1-gpios = <&tlmm 51 GPIO_ACTIVE_LOW>;
		w-disable2-gpios = <&tlmm 85 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&wcn_wlan_en>, <&wcn_bt_en>;
		pinctrl-names = "default";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;

				m2_e_pcie_ep: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&tc9563_pcie1_ep>;
				};
			};

			port@3 {
				reg = <3>;
				#address-cells = <1>;
				#size-cells = <0>;

				m2_e_uart_ep: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&uart7_ep>;
				};
			};
		};
	};

	sound {
		compatible = "qcom,talos-lyra-sndcard";
		model = "qcs615-snd-card";

		pinctrl-names = "default";
		pinctrl-0 = <&lpi_spkr_i2s_mclk_a>, <&lpi_i2s1_clk>, <&lpi_i2s1_data>, <&lpi_i2s1_ws>;

		sec-mi2s-playback-dai-link {
			link-name = "Secondary MI2S Playback";

			cpu {
				sound-dai = <&q6apmbedai SECONDARY_MI2S_RX>;
			};

			codec {
				sound-dai = <&max98091>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		sec-mi2s-capture-dai-link {
			link-name = "Secondary MI2S Capture";

			cpu {
				sound-dai = <&q6apmbedai SECONDARY_MI2S_TX>;
			};

			codec {
				sound-dai = <&max98091>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};
	};
};

&i2c2 {
	status = "okay";

	lt9611uxd: lt9611uxd@41 {
		compatible = "lontium,lt9611uxd";
		reg = <0x41>;
		interrupts-extended = <&tlmm 60 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 61 GPIO_ACTIVE_LOW>;
		vcc-supply = <&vreg_lt9611_vcc>;
		vdd-supply = <&vreg_s4a>;

		pinctrl-0 = <&lt9611_irq_pin &lt9611_rst_pin>;
		pinctrl-names = "default";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lt9611_a: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};

			port@2 {
				reg = <2>;

				lt9611_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&i2c5 {
	clock-frequency = <100000>;

	status = "okay";

	expander0: gpio@20 {
		compatible = "kinetic,kts1622", "ti,tcal6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander1: gpio@21 {
		compatible = "kinetic,kts1622", "ti,tcal6416";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;

		emac0_phy_en_hog: emac0-phy-en-hog {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "emac0-phy-en";
		};
	};

	expander2: gpio@38 {
		compatible = "ti,tca9538";
		reg = <0x38>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander3: gpio@3c {
		compatible = "ti,tca9538";
		reg = <0x3c>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	max98091: max98091@10 {
		compatible = "maxim,max98091";
		reg = <0x10>;
		#sound-dai-cells = <0>;
		clock-names = "mclk";
		clocks = <&q6prmcc LPASS_CLK_ID_SPEAKER_I2S_OSR LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		interrupt-parent = <&tlmm>;
		interrupts = <119 IRQ_TYPE_NONE>;
		pinctrl-names = "default";
		pinctrl-0 = <&int_codec>;
	};
};

&mdss {
	status = "okay";
};

&mdss_dp0 {
	status = "okay";
};

&mdss_dp0_out {
	link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000>;
	remote-endpoint = <&dp0_connector_in>;
};

&mdss_dsi0 {
	status = "okay";
};

&mdss_dsi0_out {
	remote-endpoint = <&lt9611_a>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	status = "okay";
};

&pcie_port0 {
	tc9563: pcie@0,0 {
		compatible = "pci1179,0623";
		reg = <0x10000 0x0 0x0 0x0 0x0>;
		#address-cells = <3>;
		#size-cells = <2>;
		#gpio-cells = <2>;
		device_type = "pci";
		ranges;
		bus-range = <0x2 0xff>;

		vddc-supply = <&vreg_0p9>;
		vdd18-supply = <&vreg_1p8>;
		vdd09-supply = <&vreg_0p9>;
		vddio1-supply = <&vreg_1p8>;
		vddio2-supply = <&vreg_1p8>;
		vddio18-supply = <&vreg_1p8>;

		i2c-parent = <&i2c5 0x77>;

		resx-gpios = <&tlmm 89 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&tc9563_resx_state>;
		pinctrl-names = "default";

		pcie@1,0 {
			reg = <0x20800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			compatible = "pciclass,0604";
			device_type = "pci";
			ranges;
			bus-range = <0x3 0xff>;

			ep-pwr-en-gpio = <&tc9563 2 GPIO_ACTIVE_HIGH>;
			ep-reset-gpio = <&tc9563 5 GPIO_ACTIVE_HIGH>;

			port {
				tc9563_pcie1_ep: endpoint {};
			};
		};

		pcie@2,0 {
			reg = <0x21000 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x4 0xff>;

			ep-pwr-en-gpio = <&tc9563 4 GPIO_ACTIVE_HIGH>;
			ep-reset-gpio = <&tc9563 3 GPIO_ACTIVE_HIGH>;
		};

		pcie@3,0 {
			reg = <0x21800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x5 0xff>;

			pci@0,0 {
				reg = <0x50000 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};

			pci@0,1 {
				reg = <0x50100 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};
		};
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;

	status = "okay";
};

&soc {
	lpass_tlmm: pinctrl@62B40000 {
		compatible = "qcom,qcs615-lpass-lpi-pinctrl";
		reg = <0x0 0x62B40000 0x0 0x20000>,
		      <0x0 0x62B00000 0x0 0x10000>;

		clocks = <&q6prmcc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "core";

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&lpass_tlmm 0 0 32>;
	};
};

&lpass_tlmm {
	lpi_spkr_i2s_mclk_a: lpi-spkr-i2s-mclk-a-state {
		pins = "gpio19";
		function = "spkr_i2s_mclk_a";
		drive-strength = <16>;
		bias-disable;
		output-high;
	};

	lpi_i2s1_clk: lpi-i2s1-clk-state {
		pins = "gpio8";
		function = "i2s1_clk";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	lpi_i2s1_clk_sleep: lpi-i2s1-clk-sleep-state {
		pins = "gpio8";
		function = "i2s1_clk";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpi_i2s1_data: lpi-i2s1-data-state {
		pins = "gpio10", "gpio11";
		function = "i2s1_data";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	lpi_i2s1_data_sleep: lpi-i2s1-data-sleep-state {
		pins = "gpio10", "gpio11";
		function = "i2s1_data";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpi_i2s1_ws: lpi-i2s1-ws-state {
		pins = "gpio9";
		function = "i2s1_ws";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	lpi_i2s1_ws_sleep: lpi-i2s1-ws-sleep-state {
		pins = "gpio9";
		function = "i2s1_ws";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};
};

&spi6 {
	status = "okay";

	tpm@0 {
		compatible = "st,st33htpm-spi", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};

&tc9563_pcie1_ep {
	remote-endpoint = <&m2_e_pcie_ep>;
};

&tlmm {
	ethernet_defaults: ethernet-defaults-state {
		mdc-pins {
			pins = "gpio113";
			function = "rgmii";
			bias-pull-up;
		};

		mdio-pins {
			pins = "gpio114";
			function = "rgmii";
			bias-pull-up;
		};

		phy-intr-pins {
			pins = "gpio121";
			function = "gpio";
			bias-disable;
			drive-strength = <8>;
		};

		phy-reset-pins {
			pins = "gpio105";
			function = "gpio";
			bias-pull-up;
			drive-strength = <16>;
		};

		rgmii-rx-pins {
			pins = "gpio81", "gpio82", "gpio83", "gpio102", "gpio103", "gpio112";
			function = "rgmii";
			bias-disable;
			drive-strength = <2>;
		};

		rgmii-tx-pins {
			pins = "gpio92", "gpio93", "gpio94", "gpio95", "gpio96", "gpio97";
			function = "rgmii";
			bias-pull-up;
			drive-strength = <16>;
		};
	};

	int_codec: gpio-irq-state {
		pins = "gpio119";
		function = "gpio";
	};

	lt9611_irq_pin: lt9611-irq-state {
		pins = "gpio60";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	lt9611_rst_pin: lt9611-rst-state {
		pins = "gpio61";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	lt9611_vcc_pin: lt9611-vcc-state {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	pcie_default_state: pcie-default-state {
		clkreq-pins {
			pins = "gpio90";
			function = "pcie_clk_req";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio100";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	tc9563_resx_state: tc9563-resx-state {
		pins = "gpio89";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	wcn_wlan_en: wcn-wlan-en-state {
		pins = "gpio51";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	wcn_bt_en: wcn-bt-en-state {
		pins = "gpio85";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&uart7 {
	status = "okay";

	port {
		uart7_ep: endpoint {
			remote-endpoint = <&m2_e_uart_ep>;
		};
	};
};

&usb_1 {
	dr_mode = "peripheral";

	status = "okay";
};

&usb_1_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_2 {
	dr_mode = "host";

	status = "okay";
};

&usb_2_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_qmpphy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};

&usb_qmpphy_2 {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};
